 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 860px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1178px;
  margin: 60px -19px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 440px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 342px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 440px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 13px 10px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 304px;
  height: 190px;
  margin: 109px 29px 0 367px;
}

.u-section-1 .u-text-2 {
  line-height: 1.6;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-1 .u-list-1 {
  margin-bottom: 20px;
  margin-top: 32px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 308px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 0.9375rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 0.9375rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 0.9375rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 0.9375rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-1 .u-image-1 {
    height: 273px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 441px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 18px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
    min-height: 254px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1206px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 60px;
  }

  .u-section-1 .u-image-1 {
    height: 483px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 590px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 36px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 201px;
    margin-right: 60px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -343px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 778px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-1 .u-image-1 {
    height: 362px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 561px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-image-2 {
    width: 227px;
    height: 158px;
    margin-top: 194px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -320px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1915px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 38px;
  }

  .u-section-1 .u-image-1 {
    height: 228px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 567px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -77px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 213px;
    height: 140px;
    margin-top: 565px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -685px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 30px;
    margin-top: 103px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}