.u-section-1 .u-sheet-1 {
  min-height: 713px;
}

.u-section-1 .u-text-1 {
  margin: 34px auto 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 496px;
  height: auto;
  margin-top: 44px;
  margin-bottom: 60px;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-accordion-1 {
  width: 980px;
  margin: 74px auto 0;
}

.u-section-1 .u-accordion-item-1 {
  margin: 10px auto 0;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 500px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-video-1 {
  width: 460px;
  height: 259px;
  margin: 17px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-accordion-item-2 {
  margin: 10px auto 0;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 500px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-video-2 {
  width: 460px;
  height: 259px;
  margin: 17px auto 0;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-accordion-item-3 {
  margin: 10px auto 0;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 500px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-video-3 {
  width: 460px;
  height: 259px;
  margin: 17px auto 0;
}

.u-section-1 .embed-responsive-3 {
  position: absolute;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-1 .u-accordion-2 {
  width: 980px;
  margin: 74px auto 0;
}

.u-section-1 .u-accordion-item-4 {
  margin: 10px auto 0;
}

.u-section-1 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 500px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-video-4 {
  width: 460px;
  height: 259px;
  margin: 17px auto 0;
}

.u-section-1 .embed-responsive-4 {
  position: absolute;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-accordion-item-5 {
  margin: 10px auto 0;
}

.u-section-1 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 500px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-video-5 {
  width: 460px;
  height: 259px;
  margin: 17px auto 0;
}

.u-section-1 .embed-responsive-5 {
  position: absolute;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-accordion-item-6 {
  margin: 10px auto 0;
}

.u-section-1 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 500px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-video-6 {
  width: 460px;
  height: 259px;
  margin: 17px auto 0;
}

.u-section-1 .embed-responsive-6 {
  position: absolute;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 0 30px;
}

.u-section-1 .u-accordion-3 {
  width: 980px;
  margin: 74px auto 0;
}

.u-section-1 .u-accordion-item-7 {
  margin: 10px auto 0;
}

.u-section-1 .u-accordion-link-7 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-7 {
  min-height: 500px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-video-7 {
  width: 460px;
  height: 259px;
  margin: 17px auto 0;
}

.u-section-1 .embed-responsive-7 {
  position: absolute;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-accordion-item-8 {
  margin: 10px auto 0;
}

.u-section-1 .u-accordion-link-8 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-8 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-8 {
  min-height: 500px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-video-8 {
  width: 460px;
  height: 259px;
  margin: 17px auto 0;
}

.u-section-1 .embed-responsive-8 {
  position: absolute;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-accordion-item-9 {
  margin: 10px auto 0;
}

.u-section-1 .u-accordion-link-9 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-9 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-9 {
  min-height: 500px;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-video-9 {
  width: 460px;
  height: 259px;
  margin: 17px auto 0;
}

.u-section-1 .embed-responsive-9 {
  position: absolute;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-tab-pane-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 0 30px;
}

.u-section-1 .u-accordion-4 {
  width: 980px;
  margin: 74px auto 0;
}

.u-section-1 .u-accordion-item-10 {
  margin: 10px auto 0;
}

.u-section-1 .u-accordion-link-10 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-10 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-10 {
  min-height: 500px;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-video-10 {
  width: 460px;
  height: 259px;
  margin: 17px auto 0;
}

.u-section-1 .embed-responsive-10 {
  position: absolute;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-accordion-item-11 {
  margin: 10px auto 0;
}

.u-section-1 .u-accordion-link-11 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-11 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-11 {
  min-height: 500px;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-video-11 {
  width: 460px;
  height: 259px;
  margin: 17px auto 0;
}

.u-section-1 .embed-responsive-11 {
  position: absolute;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-accordion-item-12 {
  margin: 10px auto 0;
}

.u-section-1 .u-accordion-link-12 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-12 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-12 {
  min-height: 500px;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-video-12 {
  width: 460px;
  height: 259px;
  margin: 17px auto 0;
}

.u-section-1 .embed-responsive-12 {
  position: absolute;
}

.u-section-1 .u-text-25 {
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-accordion-1 {
    width: 940px;
  }

  .u-section-1 .u-accordion-2 {
    width: 940px;
  }

  .u-section-1 .u-accordion-3 {
    width: 940px;
  }

  .u-section-1 .u-accordion-4 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-accordion-1 {
    width: 720px;
  }

  .u-section-1 .u-accordion-2 {
    width: 720px;
  }

  .u-section-1 .u-accordion-3 {
    width: 720px;
  }

  .u-section-1 .u-accordion-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-accordion-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-accordion-3 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-accordion-4 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-accordion-1 {
    width: 340px;
  }

  .u-section-1 .u-video-1 {
    width: 320px;
    height: 180px;
  }

  .u-section-1 .u-video-2 {
    width: 320px;
    height: 180px;
  }

  .u-section-1 .u-video-3 {
    width: 320px;
    height: 180px;
  }

  .u-section-1 .u-accordion-2 {
    width: 340px;
  }

  .u-section-1 .u-video-4 {
    width: 320px;
    height: 180px;
  }

  .u-section-1 .u-video-5 {
    width: 320px;
    height: 180px;
  }

  .u-section-1 .u-video-6 {
    width: 320px;
    height: 180px;
  }

  .u-section-1 .u-accordion-3 {
    width: 340px;
  }

  .u-section-1 .u-video-7 {
    width: 320px;
    height: 180px;
  }

  .u-section-1 .u-video-8 {
    width: 320px;
    height: 180px;
  }

  .u-section-1 .u-video-9 {
    width: 320px;
    height: 180px;
  }

  .u-section-1 .u-accordion-4 {
    width: 340px;
  }

  .u-section-1 .u-video-10 {
    width: 320px;
    height: 180px;
  }

  .u-section-1 .u-video-11 {
    width: 320px;
    height: 180px;
  }

  .u-section-1 .u-video-12 {
    width: 320px;
    height: 180px;
  }
}